<p>
  <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>
<p>
  <input
    #query
    (keyup)="filter(query.value)"
    type="text"
    class="form-control"
    placeholder="serch..."
  />
</p>

<data-table
  [items="items"
  ]
  [itemCount]="itemCount"
  (reload)="reloadItems($event)"
>
  <data-column-table
    [property]="'title'"
    [header]="'Title'"
    [sortable]="true"
    [resizeable]="true"
  >
  </data-column-table>

  <data-column-table
    [property]="'price'"
    [header]="'Price'"
    [sortable]="true"
    [resizeable]="true"
  >
    <ng-template #dataTableCell let-item="product">
      {{ product.price | currency: "USD":true }}
    </ng-template>
  </data-column-table>

  <data-column-table [property]="$key">
    <ng-template #dataTableCell let-item="product">
      <a [routerLink]="['/admin/products/', p.payload.key]">Edit</a>
    </ng-template>
  </data-column-table>
</data-table>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of filtredProducts">
      <td>{{ p.payload.val().title }}</td>
      <td>{{ p.payload.val().price }}</td>
      <td>
        <a [routerLink]="['/admin/products/', p.payload.key]">Edit</a>
      </td>
    </tr>
  </tbody>
</table>
